@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Azienda Spedizioni S.P.A</h1>
        <p class="lead">Se state cercando un partner affidabile per gestire le vostre spedizioni in modo efficiente e sicuro, siete nel posto giusto. Azienda Spedizioni S.P.A è qui per offrirvi servizi di spedizione su misura, con un'attenzione particolare alla qualità, alla puntualità e alla soddisfazione del cliente.</p>
        @Html.ActionLink("Aggiungi cliente", "Create", "Cliente", null, new { @class = "btn btn-primary" })
   

   <img class="mx-auto" src="https://www.supplychainitaly.it/wp-content/uploads/2021/01/Poste-Italiane-Sda-vaccino-Moderna.jpg" alt="Immagine corriere" />
    </section>
   

</main>